.wrapper {

  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;

  &__container {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  &__top {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7B68EE;
  }

  &__search {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__control {
    max-height: 25px;
    padding: 5px;
    background-color: white;
    border-radius: 8px;
    margin: 0 5px 0 0;

    &:hover {
      cursor: pointer;
      background-color: #7B68EE;
      transition: 0.3s;
    }
  }

  &__field {
    width: 70%;
    padding: 10px 20px;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border-right: none;
    border-width: 0;
    background-color: #E6E6FA;

    &::placeholder {
      color: black;
    }

    &:focus {
      background-color: white;
      &::placeholder {
        color: grey;
      }
    }
  }

  &__button {
    width: 10%;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    border-left: none;
    padding: 0;
    border-width: 0;
    background-color: #EE82EE;
    letter-spacing: 3px;
    color: white;
    font-size: 15px;

    &:hover {
      background-color: #DA70D6;
      cursor: pointer;
      transition: 0.3s;
      animation-fill-mode: forwards;
    }
  }

  &__content {
    //height: 85%;
    background-color: #DA70D6;
    display: flex;
    justify-content: center;

    &_container {
      background-color: white;
      height: 100%;
      width: 99%;
    }

    &_inner {
      padding: 2%;
    }

    @media (max-width: 736px) {
      background-color: white;
    }
    @media (max-height: 600px) {
      background-color: white;
    }
  }

  &__bottom {
    height: 5%;
    background-color: #7B68EE;

    @media (max-width: 736px) {
      display: none;
    }
    @media (max-height: 600px) {
      display: none;
    }
  }

}
